Mosquito/Mosquito/obj/
Mosquito/Mosquito/bin/
Mosquito/Input/obj/
Mosquito/UnitTests/obj/
Mosquito/packages/
Mosquito/UnitTests/bin/
Mosquito/OutputWPF/obj/
Mosquito/~$mosdb.xlsx
Mosquito/OutputWPF/bin/
